<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>informatiktutor.de</title>
    <link rel="icon" type="image/svg+xml" href="static/icon/favicon.svg">
    <link rel="icon" type="image/png" href="static/icon/favicon.png">
    <link rel="stylesheet" href="assets/css/main.css">
    <script defer src="assets/icons/js/fontawesome.min.js"></script>
    <script defer src="assets/icons/js/brands.min.js"></script>
    <script defer src="assets/icons/js/solid.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="assets/icons/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/icons/css/brands.min.css">
      <link rel="stylesheet" href="assets/icons/css/solid.min.css">
    </noscript>
    <script>
      window.sa_event =
        window.sa_event ||
        function () {
          var a = [].slice.call(arguments);
          window.sa_event.q
            ? window.sa_event.q.push(a)
            : (window.sa_event.q = [a]);
        };
    </script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-mobile is-centered">
            <div class="column is-7-tablet is-6-desktop">
              <h1 class="title is-2 is-size-3-mobile is-spaced">
                <div id="title">informatiktutor.de</div>
              </h1>
              <p class="subtitle is-4">
                Individuelle Nachhilfe für Informatik-Studenten.
              </p>
              <p class="subtitle is-4">
                Buchungen sind ab <b>Mitte Oktober</b> möglich.
                In der Zwischenzeit kannst Du mich gerne kontaktieren,
                um benachrichtigt zu werden, wenn es soweit ist.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="contact-container" class="mb-6">
      <div class="hero-continuation"></div>
      <div class="container">
        <div class="columns is-marginless is-mobile is-centered">
          <div class="column is-11-mobile is-7-tablet is-7-desktop">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <%- include('_views/components/contact'); -%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Simple Analytics START -->
    <!-- TODO determine hostname based on dev/dist environment -->
    <% ignore_dnt = true %>
    <% analytics_custom_domain = 'sa.informatiktutor.de' %>
    <% analytics_scripts_domain = 'scripts.simpleanalyticscdn.com' %>
    <% analytics_queue_domain = 'queue.simpleanalyticscdn.com' %>
    <% hostname = 'dev.informatiktutor.de' %>
    <script async defer data-hostname="<%= hostname %>" data-collect-dnt="<%= ignore_dnt %>"
      src="https://<%= analytics_scripts_domain %>/latest.dev.js"></script>
    <noscript>
      <img src="https://<%= analytics_queue_domain %>/noscript.gif?hostname=<%= hostname %>&ignore-dnt=<%= ignore_dnt %>"
      alt="" referrerpolicy="no-referrer-when-downgrade" />
    </noscript>
    <!-- Simple Analytics END -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
